$BASECOLOR: #ffffff;

$DARKCOLOR: #333333;

$ACTIVECOLOR: #fc6923;

$BASEBACKGROUND: #ffffff;

$PAGEBACKGROUND: #F7F7F7;

$ZONEBACKGROUND: #ffffff;

.common-background{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}

.border-line{
	border-bottom: 1px solid #f7f7f7;
}

.flex-wrap{
	flex-wrap: wrap;
}

.nowrap{
	white-space:nowrap;
}